body{
    background-color: rgb(255, 255, 255);
}

header{
    background-color: #537355;
    height: 210px;
}

header h1{
    text-align: center;
    color: white;
}

header p{
    text-align: center;
    color: white;
}

header nav a{
    text-decoration: none;
    color: white;
    padding: 7px;
}

main{
    margin: auto;
    background-color: rgba(197, 187, 187, 0.493);
    width: 1050px;
    height: 100%;
}