/*configurações globais:*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=BBH+Hegarty&family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/Desafios/03/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{ /*criador de variaveis*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc74;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: 'Bebas Neue', cursive;
    --fonteAndroid: 'Android', cursive;
}

body{
    background-color: var(--cor0);
    font-family: var(--fontePadrao);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    text-indent: 30px; /* espaçamento do paragrafo*/
    line-height: 2em; /*espaçamento entre linhas*/
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px; /*O header nunca pode ficar menor que 150px de altura.*/
    text-align: center;
    padding-top: 40px;
}

header p{
    font-family: var(--fontePadrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    color: white;
}

header h1{
    font-size: 3em;
    margin-bottom: 20px;
    color: white;
    font-family: var(--fonteDestaque);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold; /*peso da fonte*/
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    max-width: 1000px; /* quando ele tiver mais que 1000px ele para de crescer*/
    min-width: 320px; /* quando for menor que 320px o conteudo quebra*/
    margin: auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px black;
}

main img{
    width: 100%; /* acompanhar o tamanho do elemento pai. (main) (800px)* (ja deixa mais o menos resposiva)*/
    height: auto; /* imagem não fica deformada*/
}

main h1{
    color: var(--cor5);
    font-family: var(--fonteAndroid);
}

.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h2{
    font-family: var(--fonteAndroid);
    color: var(--cor4);
    font-size: 1.3em; /* tamanho da fonte*/
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside ul{
    list-style-position: inside;
    columns: 2;
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}