*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #61542E); /*degrade*/
}

main{
    background-color: white;
    width: 600px; /*largura*/
    padding: 10px;
    margin: auto; /*"centraliza"*/
    border-radius: 15px; /*raio da borda*/
    box-shadow: 10px 10px 10px black; /*bordas*/
}

h1{
    color: #7A2920;
    text-align: center;
}

h2{
    color: #44271F;
}

p{
    text-align: justify; /*alinha o texto*/
}